h1 {
    padding-left: 30px;;
}

p {
    padding-left: 30px;;
}
div#root {
    width: 100%;
    background: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

div#root div.container {
    background: whitesmoke;
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

div#root div.container > main.main-layout {
    padding: 30px 0;
    width: 100%;
}